.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
dist/
build/
*.egg
*.egg-info/
*.egg-info
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
tmp
/static/*
!/static/assets

__pycache__/
instance/
/application


node_modules
*.lock
*-lock.json
flask-rest.sqlite3
xyz12/pf-flask
xyz12/pf-react-app
*.sqlite3
